<!DOCTYPE html>
<html class="{{ @htmlClass }}" style="{{ @htmlStyle }}">
<head lang="en">
    <title>{{ @title }}</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="descriptions" charset="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="{{ @path }}assets/css/app.min.css" media="screen">
    <link rel="stylesheet" href="{{ @path }}assets/css/components.min.css" media="screen">
</head>
<body class="{{ @bodyClass }}" style="{{ @bodyStyle }}">
