# Windows image file caches
Thumbs.db
ehthumbs.db

#node js
#=======================================

node_modules
npm-debug.log
___package.json
npm-shrinkwrap.json

example
baks
temp.js
temp.html
.idea
*.bak

.git
.svn