
    <!--server loading-->
    <div class="server-loading loading" id="request-tip" style="display: none;"></div>

    <!--载入js-->
    <script src="{{ @path }}modules/main.js?_toHash"></script>
    <script src="{{ @path }}{{ @view }}?_toHash"></script>
    <!--主要用于 requireJS AMD 模块-->
    <!--<script type="text/javascript"
            data-main="{{ @path }}module/main.js"
            data-module="{{ @path }}{{ @module }}"
            data-view="{{ @path }}{{ @view }}"
            src="{{ @path }}assets/js/require/require.min.js" ignore>
    </script>-->

</body>
</html>
