* {
    font-family: "Microsoft YaHei", Arial;
    font-size: 14px;
    margin:0;
    padding:0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}
html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}
body {
    line-height: 1.8;
    position: relative;
}
.header{
    display: block;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #00BCB5;
    position: relative;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    border-bottom: solid 3px rgb(228, 255, 254);
}
.header:before{
    content: 'Gupack'; /*url(../images/cignacmb_logo.png);*/
    display: block;
    position: absolute;
    left: 20px;
    top: 11px;
}

.wrapper{
    width: 100%;
    padding: 10px;
}

/*login page*/
.login-main{
    padding-top: 100px;
}
.login-main .form-group{
    width: 100%;
    margin: 10px auto;
    width: 350px;
}
.login-main .form-group label{
    display: block;
    position: relative;
    margin: 0 auto;
}
.login-main .form-group input{
    display: block;
    margin: 10px auto;
    padding: 0 35px;
    width: 350px;
    height: 40px;
    line-height: 40px;
    border: solid rgba(216, 216, 216, 0.62) 1px;
    box-shadow: 0 0 0 2px rgba(208, 208, 208, 0.12);
    transition: all 0.1s ease-in-out;
}
.login-main .form-group input[type="submit"]{
    width: 150px;
    margin: 0;
    color: white;
    font-size: 1.2rem;
    background-image:-webkit-linear-gradient(to bottom, #00E6E6 0, #00B3BC 100%);
    background-image: linear-gradient(to bottom, #00E6E6 0, #00B3BC 100%);
}
.login-main .form-group input:focus{
    border: solid #00BCB5 1px;
    box-shadow: 0 0 1px 2px rgb(213, 255, 253);
}
.login-main .form-group input[type="submit"]:focus{
    background-image:-webkit-linear-gradient(to bottom, #00E6E6 0, #00A1A9 100%);
    background-image:linear-gradient(to bottom, #00E6E6 0, #00A1A9 100%);
}
.login-main .form-group label:before{
    display: block;
    width: 32px;
    height: 32px;
    font-family: icomoon;
    position: absolute;
    left: 3px;
    font-size: 1.6rem;
    color: #757575;
    text-align: center;
}
.login-main .form-group label.name:before{
    content: "\e901";
}
.login-main .form-group label.pwd:before{
    content: "\e903";
}
