
/*======public styles======*/
.loading{
    background-image: url("../images/loading.gif?_tobase64");
    background-repeat: no-repeat;
    background-position: center 45%;
    background-size: 32px 32px;
}
.clear{ clear: both; }
.clear:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    zoom: 1;
    opacity: 0;
    clear: both;
}

*[st-lock]{
    visibility: hidden;
}