*{margin: 0; padding: 0}
body, button, input, select, textarea{
    font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1","Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"\5B8B\4F53" !important;
}
h1, h2, h3, h4, h5, h6 { font-size:100%; }
address, cite, dfn, em, var, i { font-style:normal; }
hr{ border:0; height:1px }
ol, ul { list-style:none; }
a {	text-decoration:none; }
fieldset, img {	border:0; max-width: 100%; }
button, input, select, textarea { font-size:100%; }
table{	border-collapse:collapse;border-spacing:0; }
s,b{ text-decoration:none; }
img{ display: inline-block; outline: none; vertical-align:middle; }

textarea{overflow: auto; vertical-align: top;}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; cursor: pointer; *overflow: visible;
}
button::-moz-focus-inner,input::-moz-focus-inner { border: 0;padding: 0; }

/* HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary { display: block;}
audio,canvas,video { display: inline-block; *display: inline; *zoom: 1;}
audio:not([controls]) { display: none; height: 0;}
[hidden] { display: none;}