<!--build header-->
<include src="../templates/layout/header.html"
         path=""
         title="GuPack">
</include>

    <header class="header">首页</header>
    <div class="wrapper" id="app" st-lock>
        <section class="items">
            <div st-if="name"><h1>欢迎，{{ name }} </h1><a href="javascript:void(0);" st-on="click: logout">Logout</a></div>
            <div st-else="name"><a href="login.html">Login</a></div>
        </section>
    </div>

<!--build footer-->
<include src="../templates/layout/footer.html"
         path=""
         view="modules/passport/loginView.js">
</include>