<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="assets/css/app.css"/>
    <script src="assets/js/lib.js"></script>
    <script src="../../assets/js/lib.js"></script>
    <script src="http://www.rodey.me/js/lib.js"></script>
    <style>
        .loading{
            background-image: url("../assets/images/loading.gif?_tobase64");
            background-repeat: no-repeat;
            background-position: center 45%;
            background-size: 32px 32px;
        }
    </style>
</head>
<body>
<img src="assets/images/loading.fig" alt=""/>
<a href="index.html"></a>
</body>
</html>